.content-with-sidebar {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.content-main {
    flex-grow: 1;
}

.navigation-bar {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.navigation-bar button {
    margin-right: 20px;
}

.line{
    height: 1px;
    margin-bottom: 30px;
    background-color: #4DD167;
}

.content-holder {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.sidebar-right {
    width: 200px;
    margin-left: 20px;
}

.usernames-holder {
    border-radius: 10px;
    padding: 15px;
}

.user-name {
    color: var(--text-color);
    margin-bottom: 10px;
}

.group-name{
    width: 100%;
    height: 40px;
    margin-top: 60px;
    margin-bottom: -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}