.content-with-sidebar {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.content-main {
    flex-grow: 1;
}

.navigation-bar {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.navigation-bar button, .group-emeralds{
    margin-right: 0;
    border-radius: 0;
    padding: 6px 12px;
    background-color: transparent;
    color: #FFF;
    border:  2px solid #4DD167;
    border-bottom: 0;
}

.navigation-bar button:hover{
    background-color: #4DD167;
    border-color: #4DD167;
    color: #191919 !important;
}

.navigation-bar #btn-lists{
    border-top-left-radius: 5px;
    border-right: 0;
}

.navigation-bar #btn-rewards{
    border-right: 0;
}

.navigation-bar #btn-members{
    border-top-right-radius: 5px;
}

.group-emeralds{
    width: 165px;
    margin-left: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.group-emeralds img{
    height: 22px;
}

.line{
    height: 2px;
    margin-top: 0;
    margin-bottom: 30px;
    background-color: #4DD167;
}

.sidebar-right {
    width: 200px;
    margin-left: 20px;
}

.members{
    display: none;
}

.user-name {
    color: var(--text-color);
    margin-bottom: 10px;
}

.group-name{
    width: 100%;
    height: 40px;
    margin-bottom: -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rewards-holder-group{
    display: none;
    gap: 28px;
}

#rewards-controls-holder{
    display: none;
}

.group-reward{
    background-color: #191919 !important;
}

.group-reward span{
    font-size: 17px;
}

#rewards-controls-holder .rewards-filters{
    margin-bottom: 30px;
}

.members-table th{
    font-size: 20px;
}

.members-table tr{
    height: 30px;
    background-color: #191919;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.members-table tr:nth-child(even) {
    background:transparent;
}

.members-table td, .members-table th{
    padding: 20px;
}

.user-name-col{
    min-width: 180px;
}

.user-role.col{
    width: 120px;
}

.admin-functions-col{
    min-width: 230px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-functions-col .btn-warning{
    margin-right: 15px;
}

.user-level-col{
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-level-icon{
    max-width: 45px;
    height: 45px;
}

.prog-bar{
    width: 200px;
    height: 35px;
}
