.page-title {
    padding-bottom: 30px;
    margin-top: 48px;
    margin-bottom: 0;
    border-bottom: 2px solid #171717;
}

.notifications-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.notification-card {
    width: 100%;
    height: 100px;
    padding: 15px 20px;
    transition: transform 0.4s ease-in-out;
    border-bottom: 2px solid #171717;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
}

.notification-card:hover{
    background-color: #171717;
}

.notification-card p {
    font-size: 16px;
    color: #FFF;
}
