.pseudo-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pseudo-body .profile-holder{
    width: 600px;
    height: 700px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.pseudo-body .profile-holder h1{
    font-weight: 600;
}

.pseudo-body .profile-holder img{
    align-self: center;
}

.profile-holder form, .profile-holder form div{
    width: 600px;
}

.profile-holder form{
    height: 300px;
}

.profile-holder form label{
    margin-top: 20px;
}

.profile-holder form div{
    height: 50px;
    display: flex;
    align-items: center;
}

.profile-holder form div input{
    width: 84%;
    height: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
}

.edit{
    height: 100%;
    margin-left: 20px;
    background-color: #898C8D;
    color: #FFF;
}

.edit:hover{
    background-color: #4DD96C;
}

#btnSubmit{
    height: 50px;
    margin-top: 20px;
    background-color: #4DD96C;
}

