.buttons-group{
    padding: 35px 25px;
    display: flex;
    align-items: center;
    margin: 30px 0;
    background-color: #191919;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.buttons-group button{
    margin-right: 20px;
}

.line{
    height: 1px;
    margin-bottom: 30px;
    background-color: #4DD167;
}

.your-groups{
    margin-right: 30px;
}

.groups-holder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.group-card{
    width: 300px;
    height: 250px;
    background-color: #191919;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.group-card p{
    font-size: 18px;
}

.group-functions{
    width: 100%;
    display: flex;
    align-items: center;
}

.group-functions button{
    margin-right: 20px;
    border-radius: 20px;
    background-color: transparent;
}

.group-functions button:hover{
    color: #FFF !important;
}

.group-functions .btn-success{
    color: #4DD167 !important;
}

.group-functions .btn-danger{
    color: #c82333 !important;
}

.group-functions .btn-info{
    color: #138496 !important;
}

.group-functions .btn-warning{
    color: #e0a800 !important;
}
