@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #262626;
}

.app-name{
    margin-top: 30px;
    color: #4DD167;
}

.pseudo-body{
    padding: 0 80px;
    position: absolute;
    right: 0;
    top: 0;
    left: 350px;
    color: #FFFFFF;
}

.dark-input, .dark-input:focus{
    background-color: #171717;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}

.btn-success, .btn-success:hover{
    background-color: #4DD167;
    color: #171717;
    font-weight: 600;
}

.notification{
    width: 290px;
    height: 150px;
    padding: 12px;
    background-color: #d0d0d0;
    border: 3px solid #7d7b7b;
    border-radius: 7px;
    color: #FFF;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation: right-slide-in 0.7s forwards, opacity-in 0.7s forwards !important;
    z-index: 10;
}

.notification h3{
    font-size: 18px;
}

.notification h3, .notification button{
    font-weight: 600;
}

.error{
    background-color: #f86f6f;
    border-color: #f64242;
}

.success{
    background-color: #4DD167;
    border-color: #22b13e;
}

.warning{
    background-color: #FFD361;
    border-color: #af8314;
    color: #171717;
}

@keyframes right-slide-in {
    from {
        right: 0px;
    }
    to {
        right: 25px;
    }
}

.notification .closeBtn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #FFF;
}

.modal-bg{
    width: 100vw;
    height: 100vh;
    background-color: #2D2D2D;
    opacity: 0.9;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    width: 50vw;
    height: 30vh;
    padding: 40px;
    background: #1D1D1D;
    z-index: 11;
    position: absolute;
    top: 30%;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.modal .dark-input{
    width: 80%;
    padding: 20px;
    background-color: #2D2D2D;
}

.modal button{
    padding: 20px;
    color: #1D1D1D;
    font-weight: 600;
    transition: all 1s ease;
    border-radius: 8px;
}

.modal .fa-x{
    color:  #FFF;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.modal.close-animation{
    animation: slide-out 0.8s forwards;
}

@keyframes slide-out {
    from {
        top: 31%;
    }
    to {
        top: -500px;
    }
}

@keyframes opacity-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
