@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0f0f0f;
}

.app-name{
    margin-top: 30px;
    color: #4DD167;
}

.pseudo-body{
    padding: 0 80px;
    position: absolute;
    right: 0;
    top: 0;
    left: 350px;
    color: #FFFFFF;
}

.dark-input, .dark-input:focus{
    background-color: #191919;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn{
    color: #191919;
    font-weight: 600;
}

.btn:hover{
    color: #FFF !important;
}

.btn-success{
    background-color: #4DD167;
}

.notification{
    width: 290px;
    height: 150px;
    padding: 12px;
    background-color: #d0d0d0;
    border: 3px solid #7d7b7b;
    border-radius: 7px;
    color: #FFF;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation: right-slide-in 0.7s forwards, opacity-in 0.7s forwards !important;
    z-index: 10;
}

.notification h3{
    font-size: 18px;
}

.notification h3, .notification button{
    font-weight: 600;
}

.error{
    background-color: #f86f6f;
    border-color: #f64242;
}

.success{
    background-color: #4DD167;
    border-color: #22b13e;
}

.warning{
    background-color: #FFD361;
    border-color: #af8314;
    color: #191919;
}

@keyframes right-slide-in {
    from {
        right: 0px;
    }
    to {
        right: 25px;
    }
}

.notification .closeBtn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #FFF;
}

.modal-bg{
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 45, 45, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    margin: auto;
    max-width: 700px;
    width: 90%;
    max-height: 700px;
    height: fit-content;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background: #1D1D1D;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: scale-in 0.5s forwards;
}

.modal .dark-input{
    width: 90%;
    padding: 12px 20px;
    margin-top: 16px;
    background-color: #2D2D2D;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal button{
    padding: 10px 20px;
    background-color: #4DD167;
    font-weight: 600;
    border-radius: 8px;
    color: #FFF;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 32px;
}

.modal .fa-x{
    color: #FFF;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.modal h2{
    color: #fff;
    margin-bottom: 20px;
}

.modal.close-animation{
    animation: scale-out 0.5s forwards;
}

.prog-bar{
    border: 3px solid #ffc60a;
    border-radius: 18px;
    z-index: 10;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-align: center;
}

.prog-bar span{
    position: absolute;
    top: 3%;
    left: 40%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 800;
    font-size: 18px;
}

.inner-prog-bar{
    height: 100%;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    background: rgb(2,141,12);
    background: linear-gradient(90deg, rgba(2,141,12,1) 0%, rgba(5,109,14,1) 36%, rgba(45,201,104,1) 75%, rgba(1,175,26,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.notif-link{
    display: flex !important;
    align-items: center !important;
}

.notif-link span{
    margin-left: 5px;
}

.nav-icon-holder{
    width: fit-content;
    position: relative;
}

#unreadNotificationsCount{
    padding: 2px 7px;
    margin-left: 5px;
    background-color: #f64242;
    font-size: 10px;
    border-radius: 15px;
    position: absolute;
    top: -5px;
    right: 0;
}

@keyframes scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
