.pseudo-body {
    padding: 15px 20px;
    background-color: #262626; 
    margin-top: 50px;
    margin-left: -50px; 
    margin-right: 50px;
    transition: margin-left 0.3s ease; 
}

.lists-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.list-card {
    background-color: #1A1A1A; 
    border-radius: 10px;
    padding: 15px; 
    transition: transform 0.4s ease-in-out; 
    cursor: pointer;
}

.list-card:hover {
    transform: scale(1.02); 
    border: 1px solid #4DD167;
}

.list-card h3 {
    font-size: 20px;
    margin-bottom: 15px; 
}

.create-list {
    font-size: 35px;
    color: #ffffff; 
    cursor: pointer;
    transition: 0.4s ease; 
}

.create-list:hover {
    transform: scale(1.03); 
    border: 1px solid #4DD167;
    color: #4DD167;
}

.list-card .info-div {
    display: flex;
    gap: 10px; 
    align-items: center;
}

.list-card .dots {
    font-size: 20px; 
    color: #ffffff; 
    transition: 0.1s ease; 
}

.list-card .dots:hover {
    font-size: 20px; 
    color: #4DD167; 
}

.list-card .actions-div {
    background-color: #1A1A1A; 
    margin-left: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
    margin-top: -34px;
}

.list-card .buttons-div{
    margin-top: 50px;
}

.list-card .actions-div .rename-btn{
    padding: 10px 25px;
    background-color: #141414;
    border: none;
    color: #4DD167;
    cursor: pointer;
    text-align: left;
}

.list-card .actions-div .rename-btn:hover{
    background-color: #4DD167;
    color: #141414;
}

.list-card .actions-div .delete-btn {
    width: fit-content;
    color: #FF6161;
    background-color: #141414;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-card .actions-div .delete-btn.hover-enabled:hover {
    color: #141414;
    background-color: #FF6161;
}

.list-card .actions-div .confirm-btn {
    padding: 13px 25px;
    color: #4DD167;
    background-color: #141414;
}

.list-card .actions-div .confirm-btn:hover{
    background-color: #4DD167;
    color: #171717;
}

.list-card .actions-div .cancel-btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 13px 25px 13px 25px;
    background-color: #141414;
    color: #FF6161;
}

.list-card .actions-div .cancel-btn:hover{
    background-color: #FF6161;
    color: #171717;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
