.pseudo-body {
    padding: 20px 30px;
    background-color: #262626; 
    cursor: pointer;
    margin-top: 50px;
}

.lists-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
}

.list-card {
    background-color: #1A1A1A; 
    border-radius: 10px;
    padding: 20px; 
    transition: transform 0.4s ease-in-out; 
}

.list-card:hover {
    transform: scale(1.02); 
    border: 1px solid #4DD167;
}

.list-card h3 {
    font-size: 24px;
    margin-bottom: 20px; 
}

.create-list {
    font-size: 45px;
    color: #ffffff; 
    transition: 0.4s ease; 
}

.create-list:hover {
    transform: scale(1.03); 
    border: 1px solid #4DD167;
    color: #4DD167;
}

.list-card .info-div {
    display: flex;
    gap: 10px; 
    align-items: center;
}

.list-card .dots {
    font-size: 20px; 
    color: #ffffff; 
    transition: 0.1s ease; 
}

.list-card .dots:hover {
    font-size: 20px; 
    color: #4DD167; 
}

.list-card .actions-div {
    background-color: #1A1A1A; 
    gap: 10px; 
    padding: 15px; 
}

.list-card .actions-div button{
    padding: 10px 25px;
    background-color: #141414;
    border: none;
    color: #FFF;
    text-align: left;
}

.list-card .actions-div .delete-btn{
    height: 100%;
    width: fit-content;
    padding: 10px 25px 10px !important;
    color: #FF6161;
    outline:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-card .actions-div .confirm-btn{
    height: 100%;
    padding: 10px 25px;
    width: fit-content;
    color: #4DD167;
}

.list-card .actions-div .confirm-btn:hover{
    background-color: #4DD167;
    color: #171717;
}

.list-card .actions-div .cancel-btn{
    padding: 10px 25px;
    width: fit-content;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-card .actions-div .cancel-btn:hover{
    background-color: #FF6161;
    color: #171717;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}