.top-content{
    width: 100%;
    height: 50px;
    /* margin: 15px 0; */
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-button{
    min-width: 140px;
    width: fit-content;
    height: 50px;
    padding: 8px 12px;
    background-color: #171717;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.6s ease;
}

.top-button i{
    font-size: 18px;
    color: #4DD167;
}

.emeralds-section #emeralds-holder{
    margin: 0 5px;
}

.emeralds-section img{
    max-height: 70%;
}

.top-content-buttons{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
