.pseudo-body{
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.list-card{
    width: 350px;
    height: 250px;
    background-color: #1D1D1D;
    border-radius: 15px;
    transition: all 0.6s ease;
}

.list-card:hover{
    width: 360px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
}

.create-list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.create-list:hover{
    font-size: 65px;
    color: #4DD167;
}
