.pseudo-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-holder {
    width: 650px;
    padding: 40px;
    border-radius: 10px;
    background-color: #171717;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.profile-holder:hover {
    transform: translateY(-5px);
}

.avatar-section {
    text-align: center;
    margin-bottom: 30px;
}

.avatar-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.avatar-section img:hover {
    transform: scale(1.1);
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

input.dark-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #262626;
    transition: background-color 0.3s;
}

input.dark-input:focus {
    background-color: #333;
    outline: none;
}

.btn {
    height: 38px;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #40a855;
    color: #FFF;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #349745;
}

.eyeIcon {
    position: absolute;
    top: 45px;
    right: 15px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.eyeIcon:hover {
    transform: scale(1.2);
}

#btnSubmit {
    display: block;
    width: 100%;
    background-color: #40a855;
    color: #FFF;
    border-color: #40a855;
    height: 40px;
    margin-top: 35px;
    font-weight: 500;
    transition: background-color 0.2s;
}

#btnSubmit:hover {
    background-color: #349745;
}
