@keyframes spin {
    0%, 50% {
        transform: rotate(0deg);
    }
    50%, 100% {
        transform: rotate(360deg) scale(1.15);
    }
}

.pseudo-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-holder {
    width: 650px;
    padding: 40px;
    border-radius: 10px;
    background-color: #191919;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-holder:hover {
    transform: translateY(-5px);
}

.avatar-section {
    text-align: center;
    margin-bottom: 30px;
}

.avatar-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.avatar-section img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

input.dark-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0f0f0f;
    transition: background-color 0.3s;
}

input.dark-input:focus {
    background-color: #333;
    outline: none;
}

.btn {
    height: 38px;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #40a855;
    color: #FFF;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #349745;
}

.eyeIcon {
    position: absolute;
    top: 45px;
    right: 15px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.eyeIcon:hover {
    transform: scale(1.2);
}

#btnSubmit {
    display: block;
    width: 100%;
    background-color: #40a855;
    color: #FFF;
    border-color: #40a855;
    height: 40px;
    margin-top: 35px;
    font-weight: 500;
    transition: background-color 0.2s;
}

#btnSubmit:hover {
    background-color: #349745;
}

.user-level-holder{
    height: 100px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-level-holder img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: 10;
}

.user-level-holder img:hover{
    animation-name: spin;
    animation-duration: 2000ms;
    animation-timing-function: linear;
}

.prog-bar{
    width: 80%;
    height: 40px;
}

.prog-bar span{
    top: 4%;
    left: 45%;
}

.prog-bar #level-name{
    position: absolute;
    top: -35px;
    left: 60px;
    font-size: 20px;
    font-weight: 600;
}

.prog-bar #info{
    position: absolute;
    top: -30px;
    right: 15px;
    font-size: 14px;
}
