.pseudo-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pseudo-body .profile-holder{
    width: 600px;
    height: 700px;
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.pseudo-body .profile-holder h1{
    margin-top: 50px;
    font-weight: 600;
}

.pseudo-body .profile-holder img{
    align-self: center;
}

.profile-holder form, .profile-holder form div{
    width: 600px;
}

.profile-holder form{
    width: 100%;
    height: 400px;
}

.profile-holder form label, .profile-holder form .alert-success{
    margin-top: 25px;
}

.profile-holder form .alert-success{
    margin-bottom: 0;
}

.profile-holder form div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.profile-holder form div input{
    width: 85%;
    height: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
}

.profile-holder form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn:hover{
    background-color: #218838;
}

.eyeIcon{
    height: 100%;
    margin-left: -90px;
    cursor: pointer;
}

#btnSubmit{
    margin-top: 20px;
    background-color: #218838;
    border-color: #218838;
}

.btn{
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    background-color: #898C8D;
    color: #FFF;
}

.profile-holder form div .eyeIcon{
    height: 30px;
}
